<section class=" flex flex-col justify-center items-center bg-black-500 pt-[60px] pb-[60px] xl:pt-[97px] h-dvh relative overflow-hidden">
    <div class=" flex flex-col justify-center items-center">
        <div class="title">
            <h2>
                Create more with Promptverse
            </h2>
            <p>
                Discover endless creativity with PromptVerse. Generate diverse content effortlessly using prompts. Stay
                updated with real-time trends, automate tasks, and extract insights from any document or URL. All within
                a sleek, futuristic design. Create more, effortlessly.
            </p>
        </div>
    </div>

    <div class="cb-tagreel-content">
        <div class="cb-tagreel-items " role="marquee">
            <div class="cb-tagreel-row mb-30px">
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="cb-tagreel-row-from mb-30px">
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="cb-tagreel-row">
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cb-tagreel-item  text-white-500">
                    <a href="#"
                       class="flex text-xl px-4 py-4 md:px-26px md:py-27px font-semibold gap-x-7 bg-cod-gray-500  transition-colors duration-300 rounded-s">
                        <div class="flex gap-x-10px justify-between font-pop font-normal text-sm md:text-xl">
                            <div class="text-white-500 flex flex-col text-left">
                                Write an attractive hero title for the following website
                                <p class="text-azure-radiance-500">
                                    https://zeltalabs.com/
                                </p>
                            </div>
                            <div>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17964 23.7504L7.35295 21.9237L18.3131 10.9636L8.2663 10.9636L8.2663 8.36969H22.7337V22.8371L20.1398 22.8371L20.1398 12.7903L9.17964 23.7504Z"
                                          fill="white" stroke="#0E0E0E" stroke-width="1.2"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>