<section class=" flex flex-col justify-center items-center bg-black-500 xl:pt-[97px] xl:pb-[122px] relative">

    <div class="container">
        <div class="title">
            <h2>
                Generate audio and music
            </h2>
            <p>
                Discover endless creativity with PromptVerse. Generate diverse content effortlessly using prompts. Stay
                updated with real-time trends, automate tasks, and extract insights from any document or URL. All within
                a sleek, futuristic design. Create more, effortlessly.
            </p>
        </div>

        <div class="flex justify-center items-center bg-cod-gray-500 p-5 xl:p-43px">
            <div class="flex flex-col lg:flex-row gap-x-18px">
                <div class="w-full xl:w-1/2 order-2 lg:order-1">
                    <div>
                        <h3 class="font-man mb-7 text-white-500 font-medium text-4xl">
                            Enhance Your Projects with Ultra-Realistic AI Voices
                        </h3>
                        <p class="text-white-opacity-0.6 font-man text-lg font-medium mb-7">
                            Create engaging voice content with unique AI Voices perfect for your audience.
                        </p>
                        <p class="text-white-opacity-0.6 font-man text-lg font-medium mb-7">
                            Generate
                            Conversational, Long-form or Short-form Voice Content With Consistent Quality and
                            Performances.
                        </p>
                        <p class="text-white-opacity-0.6 font-man text-lg font-medium mb-7">
                            Secure and Private Voice Generations with Full Commercial and Copyrights
                        </p>
                        <div class="flex flex-wrap gap-18px">
                            <button class="button-border ">
                                Train voice models
                            </button>
                            <button class="button-border ">
                                Text-to-speech
                            </button>
                            <button class="button-border ">
                                AI voice generation
                            </button>
                            <button class="button-border ">
                                AI music production
                            </button>
                            <button class="button-border ">
                                AI Composition
                            </button>
                            <button class="button-white ">
                                Generate now
                            </button>
                        </div>


                    </div>
                </div>
                <div class="w-full xl:w-1/2 h-[400px] lg:h-[700px] xl:h-[586px] overflow-hidden rounded-7 order-1 lg:order-2 mb-5 lg:mb-0">
                    <video
                            autoplay
                            loop
                            muted
                            playsinline
                            class="w-full rounded-7 h:[400px] xl:h-[586px] lg:h-[700px] object-cover">
                        <source src="../img/18068805-uhd_2160_3836_24fps.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>

    </div>

</section>