<header>
    <div>
        <div class="bg-black-500 fixed w-full backdrop-blur-248px bg-black-rgba  bottom-0 left-0 xl:top-0 h-max">
            <div>
                <div class="header flex xl:hidden justify-between items-center h-55px overflow-hidden w-full z-1 fixed bg-black-500 rounded-tl-2xl rounded-tr-2xl ">
                    <div class="bg-black-500 xs:w-full h-55px ">
                        <div class="header__logo absolute left-0 top-0 h-51px w-51px flex items-center justify-center">
                            <a href="/">
                                <img src="./img/logo.svg" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="icon-container">
                        <div id="menuicon">
                            <div class="bar bar1"></div>
                            <div class="bar bar2"></div>
                        </div>
                    </div>
                    <div class="mobile-menu">
                        <ul class="menu ">
                            <li class="menu-item">
                                <a class="font-pop text-sm text-white-500 font-weight-regular mx-5 my-3"
                                   href="#">About</a>
                            </li>
                            <li class="menu-item">
                                <a class="font-pop text-sm text-white-500 font-weight-regular mx-5 my-3" href="#">Technologies</a>
                            </li>
                            <li class="menu-item">
                                <a class="font-pop text-sm text-white-500 font-weight-regular mx-5 my-3" href="#">Products</a>
                            </li>
                            <li class="menu-item">
                                <a class="font-pop text-sm text-white-500 font-weight-regular mx-5 my-3" href="#">Discover</a>
                            </li>
                            <li class="menu-item">
                                <a class="font-pop text-sm text-white-500 font-weight-regular mx-5 my-3"
                                   href="#">Team</a>
                            </li>
                            <li class="menu-item">
                                <a class="font-pop text-sm text-white-500 font-weight-regular mx-5 my-3" href="#">Pricing</a>
                            </li>
                            <li class="menu-item">
                                <a class="font-pop text-sm text-white-500 font-weight-regular mx-5 my-3" href="#">Buy
                                    Premium</a>
                            </li>
                            <li class="menu-item">
                                <button class="font-pop text-sm text-black-500 font-weight-regular mx-5 my-3 bg-white-500 px-34px py-3.5 rounded-55">
                                    Get Started
                                </button>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class=" hidden xl:flex w-full container justify-between items-center py-8 text-white-500 font-pop text-sm ">
                <div>
                    <ul class="flex items-center gap-6 link-hover">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Technologies</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Discover</a></li>
                    </ul>
                </div>
                <div>
                    <a href="/">
                        <img src="./img/logoDes.svg" alt="promp">
                    </a>
                </div>
                <div>
                    <ul class="flex items-center gap-6 link-hover">
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Buy Premium</a></li>
                        <li><button class="button-white">Get Started</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>