<section class=" flex flex-col justify-center items-center bg-black-500 pt-[60px] pb-[60px] xl:pt-[97px] xl:pb-[97px] relative">

    <div class="container">
        <div class="border-b border-mercury-500 mb-61px pb-7">
            <h3 class="font-man text-white-opacity-0.5 font-medium leading-[135%] text-[64px]">
                More features
                <br>
                <span class="text-white-500">
                    Promp AI
                </span>
                offers to an individual
            </h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:gap-x-5 2xl:grid-cols-3 gap-y-60px">
            <div class=" max-w-[326px]">
                <p class="font-man text-xl text-white-500 mb-15px">
                    Write mails and replies
                </p>
                <span class="text-gray-500 font-man text-base ">
                    We are visionaries We will tell you everything you
                    need about the market at the moment, but also
                    predict how the cost of housing and your areawill
                    change in a few years
                </span>
            </div>
            <div class=" max-w-[326px]">
                <p class="font-man text-xl text-white-500 mb-15px">
                    Read pdf and attachments
                </p>
                <span class="text-gray-500 font-man text-base ">
                    We do not want to sell you any specific object, our
                    goal is to find the "right" apartment for you and
                    remain partners for many years.
                </span>
            </div>

            <div class=" max-w-[326px]">
                <p class="font-man text-xl text-white-500 mb-15px">
                    Scans Images
                </p>
                <span class="text-gray-500 font-man text-base ">
                    We provide a full range of services for the purchase
                    and sale of real estate, from searching for an object
                    and ending with paperwork.
                </span>
            </div>

            <div class=" max-w-[326px]">
                <p class="font-man text-xl text-white-500 mb-15px">
                    Write codes & programs
                </p>
                <span class="text-gray-500 font-man text-base ">
                    The housing should make your life better. Therefore,
                    when selecting real estate, we carefully learn your
                    request and find only what is ideal.
                </span>
            </div>
            <div class=" max-w-[326px]">
                <p class="font-man text-xl text-white-500 mb-15px">
                    Research
                </p>
                <span class="text-gray-500 font-man text-base ">
                    We have more than 130 objects in our portfolio, but
                    for you we will make an individual selection with only
                    suitable options.
                </span>
            </div>
            <div class=" max-w-[326px]">
                <p class="font-man text-xl text-white-500 mb-15px">
                    Automation
                </p>
                <span class="text-gray-500 font-man text-base ">
                    Whether it's the legal execution of a transaction,
                    interior design or the technical details of a building,
                    our brokers will tell you everything.
                </span>
            </div>

        </div>
    </div>

</section>