@use "./fonts";
@use "./tailwind";
@use "./main";

.header.menu-open {
  @apply rounded-t-none;
}

.link-hover a {
  @apply relative block transition ease-out hover:ease-in no-underline before:content-[''] before:absolute before:left-0 before:-bottom-[3px] before:w-0 before:h-[1px] before:bg-white-500 hover:before:w-full before:transition-[width_0.40s];
}

.button-white {
  @apply bg-white-500 text-black-500  hover:bg-transparent hover:text-white-500 hover:border-white-500 hover:border-solid hover:border px-4 py-3 md:px-34px md:py-14px rounded-55 border-solid border border-white-500  transition ease-out hover:ease-in
}

.button-border {
  @apply flex items-center gap-2 bg-transparent text-white-500  hover:text-black-500 hover:bg-white-500 border border-white-500 px-4 py-3 md:px-34px md:py-14px rounded-55 border-solid transition ease-out;
}

@mixin xs {
  @media (max-width: 639px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 640px) and (max-width: 767px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) and (max-width: 1279px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1280px) and (max-width: 1535px) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: 1536px) {
    @content;
  }
}
.title {
  @apply mb-124px;
}
.title h2 {
  @apply text-center text-white-500 font-man font-medium text-4xl md:text-5xl mb-7;
}
.title p {
  @apply max-w-[668px] text-center text-white-opacity-0.6 font-pop font-normal text-xs leading-[28px]
}

.header {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
}

.content {
  padding: 40px 5% 20px;
  text-align: justify;
  max-height: 100%;
  color: #333;
  overflow-y: scroll;
}

.content img {
  width: 100%;
  position: relative;
  display: block;
  margin: 40px auto 30px;
}

//@media (max-width: 480px) {
//  .container {
//    margin: 0 auto;
//    width: 100%;
//    height: 100%;
//    box-shadow: none;
//  }
//  .container .header {
//    position: fixed;
//  }
//  .content {
//    overflow-y: hidden;
//  }
//}
/* End container/placeholder */

/* Menu Header */
.header {
  transition: all 0.4s ease-out, background 1s ease-out;
}

.header.menu-open {
  height: 100dvh;
  transition: all 0.45s ease-out, background 0.8s ease-out;
}

.header__logo {
  transition: all 0.4s ease-out, background 1s ease-out;
}

.header__logo.center__logo {
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease-out, background 1s ease-out;

}

/* Menu List items */
.mobile-menu {
  clear: both;
}

.header ul.menu {
  position: relative;
  display: block;
}

.header ul.menu li.menu-item a {
  display: block;
  position: relative;
  width: 100%;
}

.header ul.menu li.menu-item {
  border-bottom: 1px solid #333;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.header ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.40s;
}

.header ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.35s;
}

.header ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.30s;
}

.header ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.25s;
}

.header ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.20s;
}

.header ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.15s;
}

.header ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.10s;
}

.header ul.menu li.menu-item:nth-child(8) {
  transition-delay: 0.05s;
}

.header.menu-open ul.menu li.menu-item {
  opacity: 1;
}

.header.menu-open ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.05s;
}

.header.menu-open ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.1s;
}

.header.menu-open ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.15s;
}

.header.menu-open ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.2s;
}

.header.menu-open ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.25s;
}

.header.menu-open ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.3s;
}

.header.menu-open ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.35s;
}

.header.menu-open ul.menu li.menu-item:nth-child(8) {
  transition-delay: 0.35s;
}

.header ul.menu li.menu-item:last-child {
  border-bottom: none;
  text-align: center;

}

/* Menu Icon */
.icon-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  z-index: 2;
  height: 55px;
  width: 55px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.icon-container #menuicon {
  width: 20px;
  height: 10px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}

#menuicon .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #fff;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#menuicon .bar.bar1 {
  transform: translateY(0px) rotate(0deg);
}

#menuicon .bar.bar2 {
  transform: translateY(6px) rotate(0deg);
}

.menu-open .icon-container {
  transform: rotate(90deg);
}

.menu-open .icon-container #menuicon .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.1s;
}

.menu-open .icon-container #menuicon .bar.bar1 {
  transform: translateY(4px) rotate(45deg);
}

.menu-open .icon-container #menuicon .bar.bar2 {
  transform: translateY(3px) rotate(-45deg);
}


.star {
  position: absolute;

  &:nth-child(1) {
    top: 15%;
    left: 6%;
    @include xs {
      top: 5%;
      left: 15%;
    }

  }

  &:nth-child(2) {
    top: 20%;
    left: 30%;
    @include xs {
      top: 12%;
      left: 35%;
    }
  }

  &:nth-child(3) {
    top: 45%;
    left: 20%;
    @include xs {
      top: 38%;
      left: 8%;
    }
  }

  &:nth-child(4) {
    top: 80%;
    left: 6%;
    @include xs {
      top: 69%;
      left: 20%;
    }
  }

  &:nth-child(5) {
    bottom: -3%;
    left: 35%;
    @include xs {
      bottom: 4%;
      left: 35%;
    }
  }

  &:nth-child(6) {
    top: 20%;
    right: 30%;
  }

  &:nth-child(7) {
    top: 40%;
    right: 5%;
  }

  &:nth-child(8) {
    bottom: 15%;
    right: 11%;
  }
}


.marquee-container {
  width: 100%;
  overflow: hidden; /* Скрываем все, что выходит за пределы контейнера */
  white-space: nowrap; /* Предотвращаем перенос строк */
  display: flex; /* Используем flex для выравнивания элементов */
}
.marquee-content {
  display: flex; /* Используем flex для дочерних элементов */
  flex-shrink: 0; /* Предотвращаем сжатие контента */
}
.marquee-content a {
  flex-shrink: 0; /* Предотвращаем сжатие ссылок */
}


.cb-tagreel-items {
  //margin: -58px 0;
  overflow: hidden;
  cursor: default;
}

.cb-tagreel-row, .cb-tagreel-row-from {
  display: flex;
  position: relative;
  text-align: center;
  white-space: nowrap;
  column-gap: 30px;


}

.cb-tagreel-item {
  position: relative;
  //flex: 0 0 33%;
  flex: 0 0 auto;
  //min-width: 607px;

  //max-width: 607px;
}

.cb-tagreel-item.-stroke {
  //color: transparent;
  text-shadow: none;
  //-webkit-text-stroke: 2px rgba(0, 0, 0, 0.2);
}

.cb-tagreel-item span {
  position: relative;
  display: inline-block;
  z-index: 1;
}
